{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ "https://app.vulecc.com/" | relURL }}" role="button">Get started</a>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Secure 🦀</h2>
        <p>Most of the similar technologies are written in insecure languages such as C/C++, which results in numerous low-level vulnerabilities that are unacceptable for modern security products. Instead, we employed the secure-by-default programming language Rust.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">2x Faster Scanning ⚡️</h2>
        <p>Our scripting implementation uses parallelism and async concepts to achieve a faster scanning engine.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Minimum false positives</h2>
        <p>Unlimited VULECC scans are designed to exploit detected vulnerabilities. As a result of exploitation, VULECC reaches more than 95% in detection accuracy and generates fewer false positives.</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">DynamicScan Feature</h2>
        <p>Modern web applications are designed to be viewed in browsers and therefore cannot be scanned by web crawlers that do not utilize browser instances. Using the Google Chrome driver, VULECC can crawl and inspect modern web applications.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">TOP 10 Vulnerability Categories</h2>
        <p>VULECC scan templates also feature the top 10 vulnerability categories authorized by OWASP(The Open Web Application Security Project®) to reduce risks associated with client web application security.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Out-of-band testing</h2>
        <p>With the help of intelligent sensors equipped in the system, blind attacks become increasingly evident. Sensors can easily detect blind attacks by interfacing with the scan engine.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
